//
// Variables
// --------------------------------------------------

$darkgrey: #535556;
$darkgrey-opacity: rgba(0,0,0,0.5);
$black-opacity: rgba(0,0,0,0.7);
$text-black: #424042;
$lightgreen: #c7d600;
$lightgreen-opacity: rgba(199, 213, 0, 0.8);
