//
// Variables
// --------------------------------------------------

$darkgrey: #535556;
$darkgrey-opacity: rgba(0,0,0,0.5);
$black-opacity: rgba(0,0,0,0.7);
$text-black: #424042;
$lightgreen: rgb(200, 214, 0);
$lightgreen-opacity: rgba(200, 214, 0, 0.8);
