.about{
    padding: 25px 10px;
    font-family: 'Roboto', sans-serif;            
    position: relative;
    background: $lightgreen;
    .title{
        z-index: 1;
        position: relative;
    }
    &__content{
        color:black;
        z-index: 1;
        font-size: 18px;
        position: relative;
        span{
            color: #fff;
        }
    }
}