.benefits{
    padding: 70px 10px;
    font-family: 'Roboto Condensed', sans-serif;
        background-color: $lightgreen;
        &__item{
            text-align: center;
            padding: 15px 70px;
            &-content{
                font-size:23px;
                line-height: 28px;
                text-transform: uppercase;
                font-weight: 600;
                margin-top: 10px;
            }
            img{
                height: 70px;
            }
        }
}