.facts{
    background-image: url('../images/facts.jpg');
    padding: 25px 10px;
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;            
    background-position: center center;
    .title{
        color: #c7d600;
    }
    .accordion{
        text-align: center;
        .item{
            a{
                font-size: 20px;
                line-height: 50px;
                vertical-align: text-top;
                color: $text-black;
                &[aria-expanded="false"]{
                    &:after{
                        content:'+';
                        color: $lightgreen;
                        font-weight: 600;
                        font-size: 26px;
                    }
                }                
                &[aria-expanded="true"]{
                    &:after{
                        content:'-';
                        color: $lightgreen;      
                        font-weight: 600;
                        font-size: 26px;                                          
                    }
                }
            }
        }
    }
    
}