.programs{
    background-image: url('../images/programs.jpg');
    padding: 25px 10px;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;        
    .title{
        z-index: 1;
        position: relative;
        margin-bottom: 70px
    }
    &__content{
        z-index: 1;
        position: relative;
        padding-bottom: 20px;
        &-item{
            padding: 0 !important;
            @media screen and (max-width:768px) {
                margin: 40px 0; 
            }
            &:last-child &-wrap{
                border:0 !important;
            }             
            &-wrap{
                border-right: 1px solid black;
                padding: 0 15px;
               
            }         
            h3{
                color: $text-black;
                text-transform: uppercase;
                margin-bottom: 30px;
                font-size: 25px;
                font-weight: 600;
            }            
            p{
                color:$text-black;
                font-size: 22px;
                line-height: 25px;
                min-height: 150px;
                font-weight: 300;
                @media screen and (max-width:768px) {
                    min-height:100px;
                }                
            }
            a{
                font-weight: 600;
                font-size: 20px;
                cursor: pointer;
                color: $text-black;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

    }
}